# Homework 0

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Lists

Create an empty Python list called 'a' in the cell below.

In [7]:
a = list()
print('The new object a: ', a)

The new object a:  []

Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [8]:
for i in range(1,101,3):
    a.append(i)
print('Now the list "a" is: ', a)

Now the list "a" is:  [1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [9]:
# With Numpy
# import numpy as np
# a2 = list(np.arange(2,46.5,0.5))

# Without Numpy
a2 = list()
for i in range(2,46):
    a2.append(i)
    a2.append(float(i+0.5))
a2.append(46)


print('The list a2 is: ', a2)

The list a2 is:  [2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16, 16.5, 17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5, 22, 22.5, 23, 23.5, 24, 24.5, 25, 25.5, 26, 26.5, 27, 27.5, 28, 28.5, 29, 29.5, 30, 30.5, 31, 31.5, 32, 32.5, 33, 33.5, 34, 34.5, 35, 35.5, 36, 36.5, 37, 37.5, 38, 38.5, 39, 39.5, 40, 40.5, 41, 41.5, 42, 42.5, 43, 43.5, 44, 44.5, 45, 45.5, 46]

Double every even integer element from list 'a'. Store the results back in 'a'.

In [10]:
# Way 1
a = [x*2 for x in a]

# Way 2
# for pos, e in enumerate(a):
   # a[pos] = e*2
    
print('The "new" list "a" is: ', a)

The "new" list "a" is:  [2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 92, 98, 104, 110, 116, 122, 128, 134, 140, 146, 152, 158, 164, 170, 176, 182, 188, 194, 200]

Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [12]:
aux = int()
for pos, i in enumerate(a):
    if (pos != 1) and (pos != 20):
        aux += i
print('The sum is: ', aux)

The sum is:  3304

Calculate the mean of 'a'.

In [15]:
if len(a) > 0:
    print (float(sum(a)/len(a)))
else: 
    print('The list a don\'t have any element.')

101.0

### Strings

Create an empty list called 'b'.

In [16]:
b = list()
print('The new object b: ', b)

The new object b:  []

Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [17]:
b = 'I am so excited about Data-X. It is important to be able to work with data.'.split()
print('Now the list b is: ', b)

Now the list b is:  ['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']

Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [18]:
ocurrences = int()
for e in b:
    if 'e' in e:
        ocurrences += e.count('e')
print("The number of ocurrences of the lowe-case letter 'e': ", ocurrences)

The number of ocurrences of the lowe-case letter 'e':  4

Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [19]:
for pos, e in enumerate(b):
    if 'i' in e:
        b[pos] = e.replace('i', '1')
    if 'I' in e:
        b[pos] = e.replace('I', '1')
print('My new list "b" is: ', b)

My new list "b" is:  ['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']

Append the string "This is the end of the first HW." to the list 'b'.

In [26]:
b.append("This is the end of the first HW.")
print("The new list 'b' is: ", b)

The new list 'b' is:  ['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.', 'This is the end of the first HW.']

Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [35]:
out = str()
for i in (b[::-1]):
    out += i[::-1]
print("the string backwards is: ", out)

.WH tsrif eht fo dne eht si sihT.atadht1wkrowotelbaebottnatropm1s1t1.X-ataDtuobadet1cxeosma1

### Dictionaries

Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [33]:
codes = {1001:'Alpha', 1002:'Beta', 1003:'Gamma', 1004:'Delta', 1005:'Tau'}
for k in codes:
    codes[k] = codes[k].lower()
print('The codes dictionary in lower-case: ', codes)

The codes dictionary in lower-case:  {1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

Delete 'alpha' from the dictionary.

In [21]:
# if we know the key of alpha
# del codes[1001]

# If we don't know the key of alpha:
for k in codes:
    if codes[k] == 'alpha': 
        del codes[k]
        break
print('Now codes dictionary is: ', codes)

Now codes dictionary is:  {1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

### Sets

Create a set called 'c' with the all the odd numbers less than 10.

In [22]:
c = set([x for x in range(1,10,2)])
print('My new set "c" is: ', c)

My new set "c" is:  {1, 3, 5, 7, 9}

Create another set called 'd' with elements 2, 5, 10, 30.

In [23]:
d = set([2,5,10,30])
print('My new set "d" is: ', d)

My new set "d" is:  {2, 10, 5, 30}

Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [24]:
e = c.union(d)
print('My new set "e" is: ', e)

My new set "e" is:  {1, 2, 3, 5, 7, 9, 10, 30}

Find the intersection between sets 'c' and 'd'.

In [25]:
print('The intersection between sets "c" and "d" is: ', c.intersection(d))

The intersection between sets "c" and "d" is:  {5}